<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="mainpage.css" rel="stylesheet">
    <title>Data Import - Pension Fund</title>
</head>
<body>
    <div class="filters">
        <div>
            <label for="last-name">Фамилия:</label>
            <input type="text" id="last-name">
        </div>
        <div>
            <label for="first-name">Имя:</label>
            <input type="text" id="first-name">
        </div>
        <div>
            <label for="middle-name">Отчество:</label>
            <input type="text" id="middle-name">
        </div>
        <div>
            <label for="birth-date-from">Дата рождения с:</label>
            <input type="date" id="birth-date-from">
        </div>
        <div>
            <label for="birth-date-to">по:</label>
            <input type="date" id="birth-date-to">
        </div>
        <div>
            <label for="death-date-from">Дата смерти с:</label>
            <input type="date" id="death-date-from">
        </div>
        <div>
            <label for="death-date-to">по:</label>
            <input type="date" id="death-date-to">
        </div>
        <div>
            <label for="registration-number">Номер актовой записи:</label>
            <input type="text" id="registration-number">
        </div>
        <div>
            <label for="birth-place">Место рождения:</label>
            <input type="text" id="birth-place">
        </div>
        <div>
            <label for="death-place">Место смерти:</label>
            <input type="text" id="death-place">
        </div>
        <div>
            <label for="gender">Пол:</label>
            <input type="text" id="gender">
        </div>
        <div>
            <label for="city">Город:</label>
            <input type="text" id="city">
        </div>
        <div>
            <label for="street">Улица:</label>
            <input type="text" id="street">
        </div>
        <div>
            <label for="number-of-house">Номер дома:</label>
            <input type="text" id="number-of-house">
        </div>
        <div>
            <label for="flat">Квартира:</label>
            <input type="text" id="flat">
        </div>
        <div>
            <label for="citizenship">Гражданство:</label>
            <input type="text" id="citizenship">
        </div>
        <div style="align-self: center;">
            <button>Найти</button>
            <button>Сброс</button>
        </div>
    </div>

    <div class="data-table">
        <div class="table-container">
            <div style="align-self: center; margin-bottom: 10px">
                <button>Добавить</button>
                <button>Изменить</button>
                <button>Удалить</button>
            </div>
        <table>
            <thead>
                <tr>
                    <th>Наименование подразделения управления ЗАГС</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата смерти</th>
                    <th>Страна адреса места жительства(регистрации)</th>
                    <th>Область адреса места жительства(регистрации)</th>
                    <th>Район адреса места жительства(регистрации)</th>
                    <th>Город адреса места жительства(регистрации)</th>
                    <th>Населенный пункт адреса места жительства(регистрации)</th>
                    <th>Улица адреса места жительства(регистрации)</th>
                    <th>Номер дома адреса места жительства(регистрации)</th>
                    <th>Корпус дома адреса места жительства(регистрации)</th>
                    <th>Квартира адреса места жительства(регистрации)</th>
                    <th>Номер актовой записи</th>
                    <th>Дата регистрации смерти</th>
                    <th>Место рождения</th>
                    <th>Место смерти</th>
                    <th>Пол (M - 1/ Ж -2)</th>
                    <th>Гражданство</th>
                    <th>Полное наименове адреса места жительства(регистрации)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>
